<div class="nav-wrap">
  <div class="active-menu" style="--active-position: {{navPointer$ |async}}"></div>
  <img src="./assets/images/menu_icon.png" class="menu" alt="" routerLink="/order">
  <div class="cart">
    <img src="./assets/images/cart_icon.png" alt="" routerLink="/order/cart">
    <div class="badge" *ngIf="cartCount!=0">
      {{cartCount}}
    </div>
  </div>
  <img src="./assets/images/pay_icon.png" class="pay" alt="" routerLink="/pay/choose">
  <img src="./assets/images/status-none_icon.png" class="status" alt="">
  <!-- ======== AUTH ======== -->
  <ng-container *ngIf="signedIn$">
    <!-- <img src="./assets/images/profile_icon.png" class="profile" alt="" (click)="displayLogOut()"> -->
    <img src="./assets/images/profile_icon.png" class="profile" alt="" routerLink="/account">
  </ng-container>
  <!-- ------ LOGOUT ------ -->
  <div class="logout" *ngIf="logoutFlag" (click)="logout()">
    <img src="./assets/images/logout.png" alt="">
    Log Out
  </div>  <!-- ------ logout ------ -->
  <ng-container *ngIf="!signedIn$">
    <img src="./assets/images/profile_icon.png" class="profile" alt="" class="pointer"
    (click)="openLoginModal()">
  </ng-container>
</div><!-- ======== auth ======== -->
