@import "src/styles.scss";

.nav-wrap {
  padding: 0;
  position: relative;
}

img {
  position: relative;
  object-fit: contain;
  height: calc(#{$barHeight} * 0.8);
  margin: 1vh 1vh;
  z-index: 1;
  float: left;
}

.cart {
  display: inline-block;
  position: relative;
  width: $barHeight;
  height: $barHeight;
}

.badge {
  display: flex;
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: 50%;
  width: 3vh;
  height: 3vh;
  background-color: $danger;
  color: white;
  justify-content: center;
  align-items: center;
  font-size: calc(#{$barHeight} * 0.25);
  z-index: 2;
}

.active-menu {
  height: 6vh;
  width: 6vh;
  background-color: rgb(251, 255, 0);
  border-radius: 50%;
  position: absolute;
  left: calc(var(--active-position));
  top: 0;
  z-index: 0;
}
