<div class="nav-wrap">
  <div class="active-menu" style="--active-position: {{navPointer$ |async}}"></div>
  <img src="./assets/images/nav/menu_icon.png" class="menu" alt="" routerLink="/order">

  <!-- ======= CART ======= -->
  <div class="cart">
    <img src="./assets/images/nav/cart_icon.png" alt="" routerLink="/order/cart">
    <div class="badge" *ngIf="cartCount!=0">
      {{cartCount}}
    </div>
  </div>

  <!-- ======= CART ======= -->
  <img src="./assets/images/nav/{{openOrderStatus |async}}_icon.png" class="status" alt="" routerLink="/orders/status">
  <!-- <img src="./assets/images/nav/status-none_icon.png" class="status" alt="" routerLink="/orders/status" *ngIf="!openOrderStatus"> -->
  <img src="./assets/images/nav/history_icon.png" class="status" alt="" routerLink="/orders/history">
  <!-- ======== AUTH ======== -->
  <ng-container *ngIf="signedIn$">
    <!-- <img src="./assets/images/profile_icon.png" class="profile" alt="" (click)="displayLogOut()"> -->
    <div class="dropdown">
      <img src="./assets/images/nav/profile_icon.png" class="profile" alt="account dropdown">
      <div class="dropdownContent">
        <div class="pointer" routerLink="/account">My Account</div>
        <div class="logout" (click)="logout()">
          <img src="./assets/images/nav/logout.png" alt="">
          Log Out
        </div>  <!-- ------ logout ------ -->
      </div>
    </div>
  </ng-container>
  <!-- ------ LOGOUT ------ -->
  <ng-container *ngIf="!signedIn$">
    <img src="./assets/images/nav/profile_icon.png" class="profile" alt="" class="pointer"
    (click)="openLoginModal()">
  </ng-container>
</div><!-- ======== auth ======== -->
