<div class="nav-wrap">
  <div class="active-menu" style="--active-position: {{navPointer$ |async}}"></div>
  <img src="./assets/images/menu_icon.png" class="menu" alt="" routerLink="/order">
  <div class="cart">
    <img src="./assets/images/cart_icon.png" alt="">
    <div class="badge">
      12
    </div>
  </div>
  <img src="./assets/images/pay_icon.png" class="pay" alt="">
  <img src="./assets/images/status-none_icon.png" class="status" alt="">
  <ng-container *ngIf="signedIn$">
    <img src="./assets/images/profile_icon.png" class="profile" alt="">
  </ng-container>
  <ng-container *ngIf="!signedIn$">
    <img src="./assets/images/profile_icon.png" class="profile" alt="" class="pointer"
    (click)="openLoginModal()">
  </ng-container>
</div>
