@import "src/styles.scss";

.nav-wrap {
  display: flex;
  padding: 0;
  position: relative;
}

img {
  position: relative;
  object-fit: contain;
  height: calc(#{$barHeight} * 0.8);
  margin: 0.1rem 0.5rem;
  z-index: 1;
  float: left;
}

.cart {
  display: inline-block;
  position: relative;
  width: $barHeight;
  height: $barHeight;
  margin-inline: 0.05rem;
}

.badge {
  display: flex;
  position: absolute;
  top: 60%;
  left: 60%;
  border-radius: 50%;
  width: calc(#{$barHeight} * 0.5);
  height: calc(#{$barHeight} * 0.5);
  background-color: $danger;
  color: white;
  justify-content: center;
  align-items: center;
  font-size: calc(#{$barHeight} * 0.25);
  z-index: 2;
}

.active-menu {
  height: $barHeight;
  width: $barHeight;
  background-color: rgb(251, 255, 0);
  border-radius: 50%;
  position: absolute;
  left: calc(var(--active-position));
  top: 0;
  z-index: 0;
}
