@import "src/styles.scss";

.header-wrap {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 6vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: $warning;
  min-width: 400px;
}

.logo {
  width: 25vmin;
  background-color: $danger;
  object-fit: contain;
  padding: 0 3vmin;
}

.nav {
  display: flex;
  flex-flow: row nowrap;
  margin: 1px 3vw;
  padding: 0;
}
