<div class="h-100 flex-col">
  <div class="payPanel scroll-y flex-col">
    <div class="text-center">Unpaid</div>
      <ng-container *ngFor="let owner of itemOwners">
        <div *ngIf="itemsByOwner[owner.email] as thisOwner" class="flex-row">
          <ng-container *ngIf="!thisOwner.isPaid">
          <div  (click)="togglePaySelect(owner.email)"
          [ngClass]="calcClassSelected(owner.email)">
            <div class="ownerHeader flex-row bold">
              <img src="{{thisOwner.owner.img}}" alt="">
              <div class="ownerName">{{thisOwner.owner.name}}</div>
              <div class="total form-control">{{thisOwner.total |currency}}</div>
            </div>
            <div class="itemList flex-col" *ngIf="itemsVisible[owner.email].visible">
              <ng-container *ngFor="let item of thisOwner.items">
                <div class="item flex-row">
                  <div class="itemName bold">{{pureName(item.name)}}</div>
                  <div class="itemQty">({{item.quantity}}) x </div>
                  <div class="itemPrice form-control">{{item.price |currency}}</div>
                </div>
              </ng-container>
            </div>
          </div> <!-- owner -->
          <img src="./assets/images/invisible.png" alt=""*ngIf="itemsVisible[owner.email].visible"
          (click)="hideOwnerItems(thisOwner.owner.email)"
          class="toggleViewItems">
          <img src="./assets/images/visible.png" alt=""
          *ngIf="!itemsVisible[owner.email].visible"
          (click)="viewOwnerItems(thisOwner.owner.email)"
          class="toggleViewItems">
        </ng-container> <!-- !isPaid -->
        </div>
      </ng-container>
    <!-- unpaid -->
    <div class="text-center">Paid</div>

    <!-- =========== PAID =============-->
      <ng-container *ngFor="let owner of itemOwners">
        <div *ngIf="itemsByOwner[owner.email] as thisOwner" class="flex-row">
          <ng-container *ngIf="thisOwner.isPaid">
            <div class="owner paid">
              <div class="ownerHeader flex-row bold">
                <img src="{{thisOwner.owner.img}}" alt="">
                <div class="ownerName">{{thisOwner.owner.name}}</div>
                <div class="total form-control">{{thisOwner.total |currency}}</div>
              </div>
              <div class="itemList flex-col" *ngIf="itemsVisible[owner.email].visible">
                <ng-container *ngFor="let item of thisOwner.items">
                  <div class="item flex-row">
                    <div class="itemName bold">{{item.name}}</div>
                    <div class="itemQty">({{item.quantity}}) x </div>
                    <div class="itemPrice form-control">{{item.price |currency}}</div>
                  </div>
                </ng-container>
              </div>
            </div> <!-- owner -->
            <img src="./assets/images/invisible.png" alt=""*ngIf="itemsVisible[owner.email].visible"
            (click)="hideOwnerItems(thisOwner.owner.email)"
            class="toggleViewItems">
            <img src="./assets/images/visible.png" alt=""
            *ngIf="!itemsVisible[owner.email].visible"
            (click)="viewOwnerItems(thisOwner.owner.email)"
            class="toggleViewItems">
          </ng-container>
        </div>
      </ng-container>
    <!-- </div> -->
  </div>
  <div class="actions">
    <button type="button">Pay {{payTotal |currency}}</button>
    <button type="button" routerLink="/order/cart">Back to Cart</button>
  </div>
</div>
