@import "/src/styles.scss";
@import "/src/app/scss/layout.scss";
@import "../order/order.component.scss";

.select-wrap {
  display: flex;
  flex-flow: column nowrap;
  overflow-y: auto;
  justify-content: center;
}

.owner {
  position: relative;
  width: 100%;
  height: $ownerHeight;
}

.popup-cover {
  display: flex;
  position: absolute;
  top: $barHeight;
  left: 0;
  width: 100%;
  height: calc(100% - #{$barHeight});
  background-color: rgba(232, 232, 232, 0.65);
  margin: 0;
  border-radius: 0;
}

.popup-wrap {
  display: flex;
  width: 100%;
  max-width: $maxPopupWidth-lg;
  background-color: rgba(232, 232, 232, 0.65);
  margin: $ownerHeight auto 0;
  z-index: 1;
}

.item-type {
  display: flex;
  height: $typeHeight;
  box-shadow: 2px 2px 2px 1px $shadow;
  margin: 0.5rem;
  justify-content: space-between;
  padding: $panel-padding-vert $panel-padding-side;
  font-size: calc(#{$typeHeight} - #{$panel-padding-vert});
  background-color: #fafafa;
}

.type-img {
  object-fit: scale-down;
  height: 100%;
}
