<div class="select-wrap">
  <div class="tagger">
    <app-order-item-tagger></app-order-item-tagger>
  </div>
  <div class="item-type">
    Salads
    <img src=".\assets\images\salads_type.png" class="type-img" alt="">
  </div>
  <div class="item-type">
    Sandwiches
    <img src=".\assets\images\sandwiches_type.png" class="type-img" alt="">
  </div>
  <div class="item-type">
    Sides
    <img src=".\assets\images\sides_type.png" class="type-img" alt="">
  </div>
  <div class="item-type">
    Drinks
    <img src=".\assets\images\drinks_type.png" class="type-img" alt="">
  </div>
  <div class="item-type">
    Desserts
    <img src=".\assets\images\desserts_type.png" class="type-img" alt="">
  </div>
  <button type="button" class="exit">
    Exit Order
  </button>
</div>

  <div [hidden]=!pickContactFlag class="popup-cover" (click)="closePickContact()">
    <app-order-item-tagger-pick class="popup-wrap picker"></app-order-item-tagger-pick>
  </div>

  <div [hidden]=!addContactFlag class="popup-cover" (click)="closeAddContact()">
    <app-order-item-tagger-add class="popup-wrap adder"></app-order-item-tagger-add>
  </div>
