@import "/src/styles.scss";
@import "/src/app/scss/layout.scss";

// #endregion ~~~~~~~~~~~~~~~~~ owner
// #region -------------------- OWNER
.owner {
  $ownerPadding: 0.5rem;
  display: flex;
  padding: $ownerPadding;
  width: 100%;
  border-radius: 0.5rem;
  background-color: $primary-light;
  border: 1px solid $primary-dark;
  margin-top: 0.5rem;
  box-sizing: border-box;
}

.owner img {
  height: 2rem;
  margin-right: 1rem;
}

.ownerInfo {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.triangle {
  margin-right: 0.5rem;
}

.triangle img {
  width: 1.5rem;
  cursor: auto;
  object-fit: scale-down;
}

.ownerName {
  font-size: 2rem;
}

.ownerSubtotal {
  font-size: 1.75rem;
  margin-left: auto;
  order: 2;
}
// #endregion ~~~~~~~~~~~~~~~~~ owner

.form-control {
  width: fit-content;
}

.itemsContainer {
}

.removeWarning {
  position: absolute;
  top: 2rem;
  right: 0;
  padding: 1rem;
  margin: 1rem;
  width: 25%;
  background-color: #8f3432b9;
  color: white;
  border: 1px solid black;
}

.qtyContainer {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  justify-items: center;
  font-size: 2rem;
  margin-right: 0.5rem;
}

.qtyContainer img {
  width: 1.25rem;
  height: 1.5rem;
  object-fit: scale-down;
  margin-inline: auto;
}

.itemInfo {
  width: 100%;
}

.header {
  font-size: 1.5rem;
  border-bottom: 1px solid lightgrey;
  margin-bottom: 0.25rem;
  padding: 0.25rem;
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.itemName {
  align-self: center;
}

.ownerSelect {
  border: 1px solid $secondary-light;
  border-radius: 1rem;
  font-size: 1.5rem;
  font-family: "Times New Roman", Times, serif;
}

.ownerSelect option:hover {
  background-color: $primary-bg;
}

.userSelect select option {
  border-bottom: 5px solid $secondary;
}

.itemPrice {
  border: 1px solid $primary-dark;
  border-radius: 0.2rem;
  background-color: $bg-soft;
  padding: 0.2rem 0.4rem;
}

.cardActions  {
  margin-inline: 0;
  // justify-content: space-around;
}

.cardActions button {
  margin-bottom: .2rem;
}


.itemActions {
  display: flex;
  flex-grow: 1;
  min-width: 50%;
}

.itemActions button {
  display: inline-block;
  margin-right: 0.2rem;
  margin-inline: auto;
}

// .itemDetails {}

.ingredients {
  display: flex;
  flex-flow: row wrap;
  background-color: $bg-soft;
  padding: 1vw;
  overflow-y: hidden;
  margin: 0.5rem 0;
  box-sizing: border-box;
}

.ingredient {
  display: flex;
  flex-flow: row nowrap;
  border-radius: 0.25rem;
  border-style: solid;
  border-width: 2px;
  margin: 0.2rem 0.3rem;
  font-size: 1rem;
  padding: 0.2rem 0.4rem;
  background-color: white;
}

.ingredient img {
  height: 1.5rem;
  object-fit: contain;
  margin-right: 1rem;
}

hr {
  width: 75%;
  box-shadow: 1px 1px 1px 1px $shadow;
}

.text-sm {
  font-size: smaller;
}

.emptyCart {
  width: 100%;
  font-weight: bold;
  font-size: 2rem;
  height: 10%;
}

.addItems {
  background-color: $success;
  margin-left: auto;
}

.flexLeft-50 {
  width: 50%;
}


//#region ------------- INGREDIENT COLORS

.meats {
  background-color: rgb(233, 233, 237);

  &-border {
    border-color: rgb(85, 85, 85);
  }
}

.breads {
  background-color: rgb(224, 214, 202);

  &-border {
    border-color: rgb(187, 112, 31);
  }
}

.cheeses {
  background-color: rgb(223, 221, 201);

  &-border {
    border-color: rgb(219, 200, 57);
  }
}

.greens {
  background-color: rgb(197, 211, 189);

  &-border {
    border-color: rgb(96, 212, 28);
  }
}

.veggies {
  background-color: rgb(223, 233, 223);

  &-border {
    border-color: rgb(18, 209, 31);
  }
}

.condiments {
  background-color: rgb(200, 214, 228);

  &-border {
    border-color: rgb(32, 129, 219);
  }
}

.nuts_fruit {
  background-color: rgb(214, 198, 230);

  &-border {
    border-color: rgb(124, 31, 211);
  }
}

.dressings {
  background-color: rgb(198, 216, 220);

  &-border {
    border-color: rgb(28, 179, 209);
  }
}
// #endregion ~~~~~~~~~~~~~~~~~ ingredients

.itemActionsSub {
  justify-content: space-around;
}
// #region -------------------- TOP ACTIONS
.topActions {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  height: 2.5rem;
  margin-bottom: 0.5rem;
  justify-content: space-around;
}

.topActions img {
  height: 2rem;
  object-fit: contain;
}


.topActions button {
  width: fit-content;
  height: $ownerHeight;
  align-items: center;
  justify-content: center;
  margin-right: 0.5rem;
  padding: 0 0.5rem;
}
// #endregion ~~~~~~~~~~~~~~~~~ top actions

//#region ========= Media: LARGE =========
@media only screen and (min-width: 700px) {
  .owner {
    margin-top: 0;
  }

  .lg-view {
    display: inline;
  }

  .addItems {
    margin-left: 0;
  }

  .topActions {
    flex-flow: row wrap;
    width: 100%;
    margin-bottom: 0.5rem;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .topActions button {
    font-size: 2rem;
    width: 100%;
  }

  .topActions img {
    margin-right: .5rem;
  }
}

//#endregion Media: LARGE
