<div class="payWrap">
  <div class="pay-panel">
    <div class="unpaid">
      <ng-container *ngFor="let owner of itemOwners$ |async">
          <div *ngIf="itemsByOwner[owner.email] as thisOwner" class="row owner">
            <div class="owner">
              <div class="ownerHeader">
                <img src="{{thisOwner.owner.img}}" alt="">
                {{thisOwner.owner.name}}
                <div class="total">{{thisOwner.total |currency}}</div>
              </div>
              <div class="itemList" *ngIf="thisOwner.viewItems">
                <ng-container *ngFor="let item of thisOwner.items">
                  <div class="item">
                    <div class="itemName">{{item.name}}</div>
                    <div class="itemQty">({{item.quantity}})</div>
                    <div class="itemPrice">{{item.price |currency}}</div>
                  </div>
                </ng-container>
              </div>
            </div>
            <button class="showItems" *ngIf="!thisOwner.viewItems" (click)="viewOwnerItems(thisOwner.owner.email)">
              <img src="./assets/images/visible.png" alt="">
            </button>
            <button *ngIf="thisOwner.viewItems"  class="hideItems" (click)="hideOwnerItems(thisOwner.owner.email)">
              <img src="./assets/images/invisible.png" alt="">
            </button>
          </div>
      </ng-container>
    </div>
    <hr>
    <div class="paid">

    </div>
  </div>
  <div class="actions">
    <button type="button">Pay ${{selectedAmount}}</button>
    <button type="button" routerLink="/order/cart">Back to Cart</button>
  </div>
</div>
