@import "/src/styles.scss";
@import "/src/app/scss/layout.scss";
@import "../order/order.component.scss";

.card-header {
  display: flex;
  justify-content: space-between;
  font-size: 1.75rem;
  border-bottom: 1px solid lightgrey;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
}
.card-header img{
  height: 1.75rem;
object-fit: contain;
margin-right: 1rem;
}

// #region size control for main components
// *********************************
.ingredient-panel {
  display: flex;
  flex-flow: column nowrap;
  height: min-content;
  // height: calc(100vh - #{$barHeight} - #{$ownerHeight} - #{$actionsHeight});
}


// *********************************
// #endregion component size control

.ingredients {
  display: flex;
  flex-flow: row wrap;
  background-color: $bg-soft;
  padding: .5rem;
  overflow-y: auto;
  margin: 0.5rem 0;
}

.ingredients-all {
  max-height: calc(100% - 3.25rem - 2.5rem - 3rem);
}

.ingredient {
  display: flex;
  flex-flow: row nowrap;
  border-radius: 0.25rem;
  border-style: solid;
  border-width: 2px;
  margin: 0.2rem 0.3rem;
  font-size: 1.25rem;
  padding: 0.2rem 0.4rem;
  background-color: white;
}

.ingredient img {
  height: 2rem;
  object-fit: contain;
  margin-right: 1rem;
}

.types-filter {
  display: flex;
  flex-flow: row wrap-reverse;
  padding: 0 0.2rem 0 0.2rem;
  width: calc(100% - 0.4rem);
  // align-items: flex-end;
  align-content: flex-start;
}

.types-filter img {
  width: 12.5%;
  max-width: 2.5rem;
  object-fit: contain;
  border-radius: 0.2rem;
  border-style: solid;
  border-width: 2px;
  margin: 0.2rem 0.3rem;
  flex-shrink: 1;
}

.small-text {
  font-size: 0.5rem;
}

.selected {
  background-color: $primary-bg;
  color: white;
}

// #region ------------ INGREDIENT COLORS

.meats {
  background-color: rgb(233, 233, 237);

  &-border {
    border-color: rgb(85, 85, 85);
  }
}

.breads {
  background-color: rgb(224, 214, 202);

  &-border {
    border-color: rgb(187, 112, 31);
  }
}

.cheeses {
  background-color: rgb(223, 221, 201);

  &-border {
    border-color: rgb(219, 200, 57);
  }
}

.greens {
  background-color: rgb(197, 211, 189);

  &-border {
    border-color: rgb(96, 212, 28);
  }
}

.veggies {
  background-color: rgb(223, 233, 223);

  &-border {
    border-color: rgb(18, 209, 31);
  }
}

.condiments {
  background-color: rgb(200, 214, 228);

  &-border {
    border-color: rgb(32, 129, 219);
  }
}

.nuts_fruit {
  background-color: rgb(214, 198, 230);

  &-border {
    border-color: rgb(124, 31, 211);
  }
}

.dressings {
  background-color: rgb(198, 216, 220);

  &-border {
    border-color: rgb(28, 179, 209);
  }
}
// #endregion ~~~~~~~~~~~ INGREDIENT COLORS

@media only screen and (min-width:700px) {
  .ingredients {
    padding: 1rem;
  }
}
