
<div class="select-wrap">
  <app-order-item-owner class="owner" (click)="openOwnerPick()"></app-order-item-owner>



  <div class="container">
    <ng-container *ngFor="let item of items">
      <div class="card flex-col item">
        <div class="name-price container flex-row">
          <div class="name">{{item.name}}</div>
          <div class="price form-control">${{item.price}}</div>
        </div>
        <div class="description">{{item.description}}</div>
        <div class="background">
          <div class="img-desc">
            <img src="{{item.img}}" alt="">
          </div>
        </div>
      </div>

    </ng-container>
  </div>
  <hr>
  <button class="exit" routerLink="../">Try a Different Category</button>

  <!-- Popups -->
  <div *ngIf="!(hidePickContactFlag$ |async)" class="popup-cover">
    <app-order-item-owner-pick class="popup-wrap"></app-order-item-owner-pick>
  </div>

  <div *ngIf="!(hideAddContactFlag$ |async)" class="popup-cover">
    <app-order-item-owner-add class="popup-wrap"></app-order-item-owner-add>
  </div>

</div>
