.main {
  display: grid;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;

  grid-template:
    [s1] "top-right-panel" auto [e1] [s2] "left-panel"1fr [e2] [s3] "bot-right-panel"auto [e3]
}

.top-right-panel {
  grid-area: top-right-panel;
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
}

.left-panel {
  grid-area: left-panel;
  display: flex;
  flex-flow: column nowrap;
  overflow-y: auto;
}

.bot-right-panel {
  grid-area: bot-right-panel;
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  justify-content: center;
  margin: auto 0 0;
}

@media only screen and (min-width: 700px) {

  .main {
    display: grid;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;

    grid-template:
      [s1] "left-panel . top-right-panel"1fr [e1]
      [s2] "left-panel . bot-right-panel"1fr [e2]
      / 50% 5% 45%;
  }

  .bot-right-panel {
    grid-area: bot-right-panel;
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    justify-content: center;
    margin: auto 0 0;
  }
}
