<!-- <div class="modal"> -->
  <div class="modal-header">
    <div class=modal-title>Log In</div>
  </div>
  <div class="modal-body">
    <div>MikeDanforth@npr.com abc123A!!</div>
    <form #f="ngForm" (ngSubmit)="onSubmit(f)" passwordsMatch>
      <div class="login-form flex-col flex-center">
        <div class="form-group flex-col flex-center">
          <label for="email">Email Address</label>
          <input
          type="text"
          name="email"
          id="email"
          class="form-control"
          [(ngModel)]="form.email"
          #email="ngModel"
          placeholder="me@example.com"
          pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
          required>
          <div *ngIf="email.errors?.pattern && (f.touched || f.dirty)">
            A valid email is required.
          </div>
        </div> <!--  Email -->
        <div class="form-group flex-col flex-center">
          <label for="password">Password</label>
          <input type="password"
            name="password" id=""
            class="form-control"
            required
            placeholder="Password"
            [(ngModel)]="form.password"
            #password="ngModel"
            pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$"
            [ngModelOptions]="{ updateOn: 'change' }">
          <div *ngIf="password.errors?.pattern && (password.touched)">Password must contain a minimum of
            <div class="flex-row">
              <div class="col-6">
                <ul>
                  <li>8 characters</li>
                  <li>1+ uppercase letters</li>
                </ul>
                </div>
                <div class="col-6">
                <ul>
                  <li>1+ lowercase letters</li>
                  <li>1+ numbers</li>
                </ul>
              </div>
            </div>
          </div>
        </div> <!--  Password -->
        <div class="form-group flex-col flex-center"
        *ngIf="form.newUser">
          <label for="confirmPassword">Confirm Password</label>
          <input
          type="password"
          name="confirmPassword"
          id=""
          class="form-control"
          [(ngModel)]="form.confirmPassword"
          #confirmPassword="ngModel"
          [ngModelOptions]="{ updateOn: 'change' }">
        </div> <!--  Confirm PW -->
        <!-- User Name -->
        <div *ngIf="form.newUser" class="form-group flex-col flex-center">
          <label for="username">User Name</label>
          <input type="text" name="username" id=""
          class="form-control" required
          placeholder="Name" [(ngModel)]="form.username "#username="ngModel"
          minlength="3">
          <div *ngIf="username.errors?.minlength && (password.touched || password.dirty)">Username must be at least 3 characters in length.</div>
        </div> <!--  Username -->
        <div *ngIf="f.errors?.passwordsMatch && (f.controls.confirmPassword.touched || f.controls.confirmPassword.dirty)">No Matchy</div>
        <div class="actions container flex-row">
          <button type="submit" class="btn btn-go" *ngIf="!form.newUser"
          [disabled]="!f.valid">
          Log In
          </button>
          <button type="button" class="btn btn-primary" *ngIf="form.newUser"  (click)="signUp(f)" [disabled]="!f.valid">
            Sign Up
          </button>
          <button type="button" class="btn btn-cancel"
          (click)="cancel()">
            Cancel
          </button>
        </div> <!--  actions -->
        <div class="newUser">
          <input type="checkbox" name="newUser" id="newUser"
           [(ngModel)]="form.newUser" #newUser="ngModel">
          <label for="newUser">I'm new here</label>
        </div> <!--  New User -->


      </div>


    </form>
  </div>
<!-- </div> -->
