<div class="accountContainer flex-col">
  <ng-container *ngIf="user">
    <div class="tag flex-row">
      <img src="./assets/images/profile_1.png" alt="" class="profile-img">
      <div class="nameContainer flex-row card">
        <div class="info text-center">{{user.name}}</div>
        <img src="./assets/images/edit.png" (click)="openEditUserName()" class="edit"  alt="">
      </div>
    </div>
    <h2>Email</h2>
    <div class="infoContainer flex-row card">
      <div class="info">{{user.email}}</div>
      <div class="edit"><img src="./assets/images/edit.png" class="edit" alt=""></div>
    </div>
    <h2>Phone Number</h2>
    <div class="infoContainer flex-row card">
      <div class="info">{{user.phoneNumber}}</div>
      <div class="edit"><img src="./assets/images/edit.png" class="edit" alt=""></div>
    </div>
  </ng-container>
</div>
<h2>Contacts</h2>
<div class="contactsContainer">
  <div class="addContact" (click)="openAddContact()" >+</div>
  <ng-container *ngFor="let contact of contacts$ |async">
    <div class="profile-wrap">
      <img src="./assets/images/profile_1.png" class="contact-img" alt="">
      <div class="form-control">{{ contact.name }}</div>
    </div>
  </ng-container>
</div>
