<div class="accountContainer flex-col">
  <ng-container *ngIf="user">
    <div class="tag flex-row">
      <img src="./assets/images/profile_1.png" alt="" class="profile-img">
      <div class="nameContainer flex-row card">
        <div class="info text-center">{{user.name}}</div>
        <img src="./assets/images/edit.png"  (click)="openModal(editName)" class="edit"  alt="">
      </div>
    </div>
    <h2>Password</h2>
    <div class="infoContainer flex-row card">
      <div class="info">**********</div>
      <div class="edit"><img src="./assets/images/edit.png" class="edit" alt=""></div>
    </div>
    <h2>Email</h2>
    <div class="infoContainer flex-row card">
      <div class="info">{{user.email}}</div>
      <div class="edit"><img src="./assets/images/edit.png" class="edit" alt=""></div>
    </div>
    <h2>Phone Number</h2>
    <div class="infoContainer flex-row card">
      <div class="info">{{user.phoneNumber}}</div>
      <div class="edit"><img src="./assets/images/edit.png" class="edit" alt=""></div>
    </div>
  </ng-container>
</div>
<h2>Contacts</h2>
<div class="contactsContainer">
  <div class="addContact" (click)="openModal(editName)" >+</div>
  <ng-container *ngFor="let contact of contacts$ |async">
    <div class="profile-wrap">
      <img src="./assets/images/profile_1.png" class="contact-img" alt="">
      <div class="form-control">{{ contact.name }}</div>
    </div>
  </ng-container>
</div>

<ng-template #editName>
  <div class="modal-container">
    <div class="modal-header">
      <div class=modal-title>Change User Name</div>
    </div>
    <div class="modal-body">
      <div> abc123A!!</div>
      <form #f="ngForm">
        <div class="login-form flex-col flex-center">

          <!-- ======= Password ======= -->
          <div class="form-group flex-col flex-center">
            <label for="password">Password</label>
            <input type="password"
              name="password" id=""
              class="form-control"
              id="password"
              required
              placeholder="Password"
              [(ngModel)]="editNameForm.password"
              #password="ngModel"
              pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$"
              [ngModelOptions]="{ updateOn: 'change' }">
            <div *ngIf="password.errors?.pattern && (password.touched)">Password must contain a minimum of
              <div class="flex-row">
                <div class="col-6">
                  <ul>
                    <li>8 characters</li>
                    <li>1+ uppercase letters</li>
                  </ul>
                  </div>
                  <div class="col-6">
                  <ul>
                    <li>1+ lowercase letters</li>
                    <li>1+ numbers</li>
                  </ul>
                </div>
              </div>
            </div>
          </div> <!--  password -->

          <!-- ======= New Username ======= -->
          <div class="form-group flex-col flex-center">
            <label for="newUsername">New User Name</label>
            <input type="text" name="newUsername" id=""
            class="form-control" required
            placeholder="Name" [(ngModel)]="editNameForm.newUsername "#newUsername="ngModel"
            minlength="3">
            <div *ngIf="newUsername.errors?.minlength && (password.touched || password.dirty)">Username must be at least 3 characters in length.</div>
          </div> <!-- New Username -->

          <!-- ======= ACTIONS ======= -->
          <div class="actions container flex-row">
            <button type="button" class="btn btn-go"
            (click)="editUserName(f)"
            [disabled]="!f.valid">
            Change Name
            </button>
            <button type="button" class="btn btn-cancel"
            (click)="modalRef.hide()">
              Cancel
            </button>
          </div> <!--  actions -->

        </div> <!-- content column -->
      </form>
    </div> <!-- modal body-->
  </div> <!-- modal container-->

</ng-template>
