<div class="modal-wrap">
  <div class="div modal-header">
    <div class="modal-title">
      Credit Cart Info
    </div>
  </div>
  <div class="modal-body">
    <!-- ================ TOTAL ================ -->
    <div class="totalPanel flex-row">
      <div class="totalLabel">Your Total</div>
      <div class="total form-control">{{payment.amount|currency}}</div>
    </div>
    <!-- ================ CC FORM ================ -->
    <form [formGroup]="ccForm" (ngSubmit)="submit()" class="ccForm">
      <div class="form-group">
        <label>Name on card</label>
        <input type="text" placeholder="Name" class="form-control" maxlength=20 formControlName="name">
      </div>
      <div class="form-group">
        <label>Card Number</label>
        <input type="tel" placeholder="#### #### #### ####" class="form-control" formControlName="ccNum" (keyup)="creditCardNumberSpacing()" #ccNum>
      </div>

      <div class="exp_cvv flex-row">
        <div class="expDate flex-col">
          <div class="form-group">
            <label>Exp Date (mm/yy)</label>
            <div class="flex-row form-control">
              <input type="text" placeholder="mm" class="" formControlName="expMonth">
              /
              <input type="text" placeholder="yy" class="" formControlName="expYear">
            </div>
          </div>
        </div>

        <div class="cvv flex-col">
          <div class="form-group">
            <label>CVV</label>
            <input type="text" placeholder="###" class="form-control" formControlName="cvv">
          </div>
        </div>
      </div>



    <!-- ================ ACTIONS ================ -->
    <div class="actions modalActions">
      <button type="submit" [disabled]="ccForm.invalid" class="btn btn-go">
        Pay {{payment.amount |currency}}
      </button>
      <button type="button" class="btn btn-cancel" (click)="payModalRef.hide()">
      Cancel
    </button>
  </div> <!-- ---- actions ---- -->
  <div class="actions modalActions">
    <button type="button" (click)="payOnPickup()" class="btn btn-primary pickup">Pay on Pickup</button>
  </div>
  </form> <!-- ---- cc form ---- -->
  </div> <!-- ---- modal body ---- -->
</div> <!-- ---- modal wrap ---- -->
