@import "src/styles.scss";
@import "../owner/owner.component.scss";
$border-wide: 0.5rem;

.adder-wrap {
  display: flex;
  flex-flow: column;
  justify-content: center;
  width: 60vw;
  max-width: $maxPopupWidth-sm;
  margin-inline: auto;
  height: fit-content;
  z-index: 2;
}

.row {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  max-width: 300px;
  margin-inline: auto;
}

.profile-wrap {
  display: flex;
  flex-flow: row nowrap;
  flex-grow: 1;
  width: 100%;
  min-width: fit-content;
  align-items: center;
  background-color: $primary;
  padding: 0.2rem;
  border-color: $primary-dark;
  border-radius: 0.5rem;
}

.actions {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  width: 100%;
}

// .profile-img {
//   object-fit: scale-down;
//   height: 2rem;
// }

.form-control {
  height: 1.25rem;
  margin-right: 0.5rem;
  min-width: fit-content;
}

button {
  font-size: 1rem;
  min-height: 1.5rem;
  max-width: 300px;
}

@media only screen and (max-width: 600px) {
  .profile-wrap {
    width: fit-content;
  }

  // .form-control

  button {
    width: 80%;
  }
}
