@import "/src/styles.scss";

.app-wrap {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  min-width: calc(300px - (2 * #{$hGap}));
  position: fixed;
  display: flex;
  flex-direction: column;
  background-color: #eee;
}

.main-panel-wrap {
  display: flex;
  flex-flow: column nowrap;
  width: calc(100% - (2 * #{$hGap}));
  margin: calc(#{$barHeight} + #{$vGap}) $hGap $vGap;
  max-width: 768px;
  height: 100vh;
  overflow-y: auto;
  overflow-x: visible;
  margin-inline: auto;
}
