@import "/src/styles.scss";

.app-wrap {
  top: 0;
  left: 0;
  width: 100%;
  min-width: 280px;
  position: fixed;
  display: flex;
  flex-direction: column;
}
.main-panel-wrap {
  position: relative;
  width: 100vw;
  height: calc(100vh - #{$barHeight});
  margin-top: $barHeight;
}
