<ng-container *ngIf="user$ |async as user">
  <div class="picker-wrap">
    <div class="modal-header">
      <div class="modal-title">
        This Item is for...
      </div>
    </div>
    <div class="modal-body">
      <div class="contacts">
        <div class="profile-wrap" (click)="setItemOwner(user)">
          <img src={{user.img}} class="profile-img" alt="">
          <div class="form-control contact-tag">{{user.name}} (Me)</div>
        </div>
      </div>
      <div class="contacts">
        <ng-container *ngFor="let contact of contacts$ | async">
          <div class="profile-wrap" (click)="setItemOwner(contact)">
            <img src={{contact.img}} class="profile-img" alt="">
            <div class="form-control contact-tag">{{contact.name}}</div>
          </div>
        </ng-container>
      </div>
      <hr style="margin: .5rem; width:100%; color:white">
        <div class="modalActions expandable-v">
          <button (click)="openAddContact()" class="btn-go">New Contact</button>
          <ng-container *ngIf="!(signedIn$ |async)">
            <button (click)="openLogin()">Sign In / Up</button>
          </ng-container>
          <button (click)="pickModalRef.hide()" class="btn-cancel">Cancel</button>
        </div>
    </div>
  </div>
</ng-container>
