<div class="launch-wrap">
  <div class="welcome">
    <!-- <div class="sandwich"> -->
      <img src="./assets/images/splash_sandwich.png" class="sandwich" alt="sandwich splash image">
    <!-- </div> -->
    <!-- <div class="salad"> -->
      <img src="./assets/images/splash_salad.png" class="salad" alt="salad splash image">
    <!-- </div> -->
  </div>
  <button type="button" class="buttons btn-go" routerLink="../select-item-type">
    Fresh Order
  </button>
  <button type="button" class="buttons btn-go" routerLink="order-history">
    Start from Prior Order
  </button>
</div>
