<div class="launch-wrap">
  <div class="welcome">
    <div class="sandwich">
      <img src="./assets/images/sandwich_clipart.png" class="sandwich" alt="sandwich clipart">
    </div>
    <div class="salad">
      <img src="./assets/images/salad_clipart.png" class="salad" alt="salad clipart">
    </div>
  </div>
  <button type="button" class="buttons" routerLink="../select-item-type">
    Fresh Order
  </button>
  <button type="button" class="buttons" routerLink="order-history">
    Start from Prior Order
  </button>
</div>
