@import "src/styles.scss";

.launch-wrap {
  display: flex;
  flex-flow: column;
  padding: 2vmin;
}

.welcome {
  height: 40vh;
  width: 100%;
  display: block;
  position: relative;
}

.sandwich {
  position: absolute;
  width: 80%;
  // height: 80%;
  top: 0;
  left: 0%;
  z-index: 2;
}

.salad {
  position: absolute;
  width: 60%;
  // height: 80%;
  bottom: 0%;
  right: 0%;
}

img {
  object-fit: contain;
}

.buttons {
  display: flex;
  padding: 1rem;
  margin-top: 15px;
  width: 96%;
  min-width: 300px;
  height: 15vh;
  min-height: 6rem;
  max-height: 100px;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2rem;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  margin: 3vh auto;
}
