<div class="splash-position">
  <div class="background-splash">
    <img
      src="./assets/images/splash/sandwich1.png"
      class="sandwich1"
      alt="sandwich splash image"
    />
    <img
      src="./assets/images/splash/sandwich2.png"
      class="sandwich2"
      alt="sandwich splash image"
    />
    <img
      src="./assets/images/splash/sandwich3.png"
      class="sandwich3"
      alt="sandwich splash image"
    />
    <img
      src="./assets/images/splash/salad1.png"
      class="salad1"
      alt="salad splash image"
    />
    <img
      src="./assets/images/splash/salad2.png"
      class="salad2"
      alt="salad splash image"
    />
  </div>
</div>
<div class="banner">Super, Simple Food.</div>
<div class="main">
  <div class="left-panel"></div>
  <div class="top-right-panel"></div>
  <div class="bot-right-panel">
    <button type="button" routerLink="../select-item-type">Fresh Order</button>
    <button type="button" routerLink="/orders/history">
      Start from Prior Order
    </button>
  </div>
</div>
<!-- main -->
