<div class="componentWindow">
  <div class="message card text-center bold">
    Oops! We tried but there was an error with your payment.
  </div>
  <div class="errorReport text-center">
    <div>Response from the server says ...</div>
    <div class="errorMessage flex-row">
      <table style="text-align: left; margin-inline: auto">
        <tr>
          <td>ORDER ID:</td>
          <td>{{ order.id }}</td>
        </tr>
        <tr>
          <td>ORDER STATUS:</td>
          <td>{{ order.status }}</td>
        </tr>
        <tr>
          <td>PAYMENT AMOUNT:</td>
          <td>{{ transaction.amount | currency }}</td>
        </tr>
        <tr>
          <td>PAYMENT STATUS:</td>
          <td>{{ transaction.status }}</td>
        </tr>
      </table>
    </div>
    <div>Give it another go. It might work out better next time around!</div>
  </div>
  <!------------ component window ------------>
  <div class="actions">
    <button type="button" (click)="tryAgain()">Try Again</button>
    <button type="button" (click)="cancel()">Cancel Order</button>
  </div>
</div>
