<div class="componentWindow">
  <div class="message card text-center">
    Oops!
    We tried but there was an error with your payment.
  </div>
  <div class="errorReport text-center">
    <div>Looks like ...</div>
    <div class="errorMessage">CUSTOM MESSAGE</div>
    <div>Give it another go. It might work out better next time around!</div>
  </div>
</div> <!------------ component window ------------>
<div class="actions">
  <button type="button">Try Again</button>
  <button type="button">Remove My Items</button>
</div>
<div class="actions">
  <button type="button">Cart</button>
  <button type="button">Pay Select</button>
</div>
