<ng-container *ngIf="user$ |async as user">
  <div class="picker-wrap">
    <div class="contacts">
      <div class="profile-wrap" (click)="setItemOwner(user.id)">
        <img src='./assets/images/profile_1.png' class="profile-img" alt="">
        <div class="form-control">{{user.name}} (Me)</div>
      </div>
      <ng-container *ngFor="let contact of contacts">
        <div class="profile-wrap" (click)="setItemOwner(contact.id)">
          <img src={{contact.img}} class="profile-img" alt="">
          <div class="form-control">{{contact.name}}</div>
        </div>
      </ng-container>
    </div>
    <hr style="margin: .5rem; width:100%; color:white">
    <!-- <div class="actions-row"> -->
      <div class="actions">
        <ng-container *ngIf="!user.signedIn">
          <button (click)="openAddContact()">New Contact</button>
        </ng-container>
        <ng-container *ngIf="user.signedIn">
          <button>Sign In</button>
        </ng-container>
        <button (click)="closeOwnerPick()">Cancel</button>
      </div>
    <!-- </div> -->
  </div>
</ng-container>
