/* You can add global styles to this file, and also import other style files */
$danger: #8f3432;
$danger-light: #cf7977; // new york pink
$danger-bg: #bf4c4a; // deep chestnut
$warning: #f6f930; // Maximum yellow
$warning-bg: #f8fc88; // Canary
$warning-dark: #f6f930; // Olive
$action: #737703; // rifle green
$bg-white: #f2f9f1; // mint creme
$bg-soft: #f4f7f3; // baby powder
$primary: hsl(106, 51%, 15%); // forest green traditional
$primary-bg: rgb(59, 123, 40); // sap green
$primary-dark: rgb(15, 31, 10); // Phthalo Green
$primary-disabled: #8bc77f;
$neutral: #fec0aa; // melon
$neutral-light: #fff0eb; // seashell
$success: #3f7231; // fern green
$success-bg: #75bc62; // mantis
$success-bg-disabled: #d9ecd4; // nyanza
$success-text-disabled: #8bc77f; // pistachio
$shadow: #999;

$maxScreenWidth: 768px;
$maxPopupWidth-lg: 700px;
$maxPopupWidth-sm: 400px;

// main panel
$hGap: 3vw;
$vGap: 2vh;
// $vWindow: calc(100vh - #{$barHeight} - (2 * #{$vGap}));

// item-type
$ownerHeight: 4rem;
$typeHeight: 3rem;
$buttonHeight: 4rem;
$panel-padding-vert: 0.5rem;
$panel-padding-side: 1rem;

// bar height
$barHeight: 2rem;
$padding: 0.5rem;
$padding-fc-vert: calc(math.div(#{$padding}, 2));
$padding-fc-hz: $padding;

// bottom actions
$actionsHeight: 6rem;

.form-group {
  margin-bottom: 1rem;
}
.form-control {
  border: 1px solid $primary-dark;
  border-radius: 0.1rem;
  width: 100%;
  padding: $padding-fc-vert $padding-fc-hz;
  background-color: $bg-white;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
}

button {
  min-height: 3rem;
  border-radius: 0.5rem;
  font-size: 2rem;
  padding-inline: 5%;
  margin: 0.2rem;
  font-weight: bold;
}

.card {
  width: calc(100% - (2 * (1rem + 0.5rem)));
  box-shadow: 2px 2px 2px 1px $shadow;
  margin: 0.5rem 1rem;
  padding: 0.5rem;
  background-color: white;
}

.container {
  width: 100%;
  max-width: calc(100% - (2 * #{$panel-padding-side}));
  padding: $panel-padding-vert $panel-padding-side;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.center-text {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.scroll-y {
  overflow-y: auto;
}

.fade {
  transition: opacity 0.15s linear;
}
.close {
  float: right;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.5;
  min-height: 1.5rem;
}

.componentWindow {
  display: flex;
  flex-flow: column nowrap;
  height: calc(100vh - #{$actionsHeight} - (2 * #{$vGap}) - #{$barHeight});
  overflow-y: auto;
}

.actions {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-content: center;
  height: $actionsHeight;
}

.btn {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 0.375rem 1rem;
  border: 1 solid black;
  border-radius: 0.3rem;
  color: white;
  font-size: medium;
}

.btn-sm {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  min-height: 2rem;
  padding: 0.125rem 0.3rem;
  border: 1 solid black;
  border-radius: 0.2rem;
  color: white;
  font-size: small;
}

.btn-cancel {
  background-color: $danger-bg;
  border-color: $danger;
}

.btn-go {
  background-color: $success-bg;
  border-color: $success;
}

.btn-primary {
  background-color: $primary-bg;
  border-color: $primary;
}

.btn-warning {
  background-color: $warning;
  border-color: $warning-dark;
}

.btn-go:disabled {
  background-color: $success-bg-disabled;
  color: $success-text-disabled;
}

.btn-primary:disabled {
  background-color: $primary-disabled;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  display: none;
  overflow-x: hidden;
  overflow-y: auto;
}
.modal-dialog {
  position: relative;
  width: auto;
  max-width: $maxPopupWidth-lg;
  margin: 1rem auto;
  pointer-events: none; // prevent cursor change on hover
  display: flex;
  justify-content: center;
}

.modal-content {
  // modal-dialog
  position: relative;
  display: flex;
  flex-direction: column;
  // width: 100%;
  width: max-content;
  // max-width: $maxPopupWidth-sm;
  padding: 2rem;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  outline: 0;
  box-shadow: 2px 2px 2px 1px $shadow;
}

.modal-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid #e9ecef;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
}
.modal-title {
  margin-bottom: 0;
  // line-height: 1;
  font-size: 1.5rem;
}
.modal-body {
  position: relative;
  flex: 1 1 auto; // flex-grow | flex shrink |flex basis
  padding: 1rem;
}

.modal-open {
  overflow: hidden;
}

.modal-backdrop.show {
  opacity: 0.5;
}
.modal-backdrop.fade {
  opacity: 0.5;
}
.fade {
  // opacity: 0;
  // transition: opacity 0.15s linear;
}
.fade.show {
  opacity: 0.5;
}
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100vw;
  height: 100vh;
  background-color: #000;
}
.text-center {
  text-align: center !important;
}

.bold {
  font-weight: bold;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;

  &-max {
    max-height: 100%;
  }
}

.pointer {
  cursor: pointer;
}

.spaced {
  display: flex;
  justify-content: space-around;
}
