/* You can add global styles to this file, and also import other style files */
$danger: #8f3432; // burnt umber
$danger-text: #6a2725; // Perisian Plum
$danger-dark: #3c1615; // Dark Sienna
$danger-light: #cf7a77; // new york pink
$danger-bg: #bf4e4a; // deep chestnut

$warning: #d6920a; // harvest gold
$warning-bg: #f6b83c; // miximum yellow red
$warning-text: #614205; // UPS brown
$warning-dark: #271b02; // bistre
$warning-light: #fdf1d8; // papya whip
$warning-bg-disabled: #f7c864; // max yellow red 2
$warning-text-disabled: #c2880a; //  dark goldenrod

$action: #737703; // rifle green
$bg-white: #f2f9f1; // mint creme
$bg-soft: #f4f7f3; // baby powder
// Primary  Coolers: Column 5

$primary: #233a43; //  Teal Blue
$primary-text: #1b2d37; // dark gunmetal
$primary-bg: #477890; // Gunmetal
$primary-dark: #0e171b; // Rich Black Forga 29
$primary-light: #e4edf2; // Alice Blue
$primary-bg-disabled: #a1c1ce; // Dark Sky blue
$primary-text-disabled: #548ba0; //  Blue Munsell

$neutral: #fec0aa; // melon
$neutral-light: #fff0eb; // seashell
// Success Coolers: Column 2
$success: #496e61; // Hookers green
$success-text: #293d38; // Kombu green
$success-dark: #101c0c; // dark jungle green
$success-light: #dae7e2; // mint cream
$success-bg: #6b9e8a; // polished pine
$success-bg-disabled: #9dbeb4; // opal?
$success-text-disabled: #629386; // wintergreen dream

$secondary: #666;
$secondary-text: #666;
$secondary-light: #bbb;
$secondary-bg: #999;
$secondary-dark: #444;
$shadow: #999;

$maxScreenWidth: 768px;
$maxPopupWidth-lg: 700px;
$maxPopupWidth-sm: 400px;

// main panel
$hGap: 3vw;
$vGap: 2vh;
// $vWindow: calc(100vh - #{$barHeight} - (2 * #{$vGap}));

// item-type
$ownerHeight: 3rem;
$typeHeight: 3rem;
$buttonHeight: 4rem;
$panel-padding-vert: 0.5rem;
$panel-padding-side: 1rem;

// bar height
$barHeight: 2rem;
$padding: 0.5rem;
$padding-fc-vert: calc(#{$padding} / 2);
$padding-fc-hz: $padding;

// bottom actions
$actionsHeight: 6rem;
$modalActionsHt: 3rem;

.form-group {
  margin-bottom: 1rem;
}
.form-control {
  height: fit-content;
  border: 1px solid $primary-dark;
  border-radius: 0.1rem;
  width: 100%;
  padding: $padding-fc-vert $padding-fc-hz;
  background-color: $bg-white;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
}

.card {
  $shadow-x-offset: 2px;
  $shadow-blur: 1px;
  width: calc(100% - #{$shadow-x-offset} - #{$shadow-blur});
  box-shadow: 2px $shadow-x-offset 2px $shadow-blur $shadow;
  margin: 0.5rem 0;
  padding: 0.5rem;
  background-color: white;
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: calc(100% - (2 * #{$panel-padding-side}));
  padding: $panel-padding-vert $panel-padding-side;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.center-text {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.scroll-y {
  overflow-y: auto;
}

.fade {
  transition: opacity 0.15s linear;
}
.close {
  float: right;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.5;
  min-height: 1.5rem;
}

.componentWindow {
  display: flex;
  flex-flow: column nowrap;
  height: calc(
    100vh - #{$actionsHeight} - (2 * #{$vGap}) - #{$barHeight} - 1rem
  );
  overflow-y: auto;
  margin-bottom: 1rem;
  box-sizing: border-box;
}

button {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  text-align: center;

  font-size: 2rem;
  padding-inline: 1rem;
  width: 100%;
  height: 45%;
  margin-bottom: 2.5%;
  font-weight: bold;
  cursor: pointer;

  border: 3px solid black;
  border-radius: 0.3rem;
  color: white;
  background-color: $primary-bg;
  font-size: medium;
}

.actions {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  height: $actionsHeight;
}

.expandable-v {
  height: fit-content;
}

.actions-col {
  flex-direction: column;
}

.actions-2row {
  display: flex;
  flex-direction: row;
  height: 45%;
  width: 100%;
}

.actions-2row button {
  font-size: 1.5rem;
  padding-top: unset;
  padding-bottom: unset;
  min-width: 7rem;
  height: 100%;
  margin: 0;
}

.topActions {
  width: 100%;
  height: 2.5rem;
  margin-bottom: 0.5rem;
  justify-content: space-around;
}

.topActions button {
  width: fit-content;
  height: 100%;
  font-size: 1rem;
}

button:hover {
  background-color: $primary;
  color: white;
}

button:disabled {
  background-color: $primary-bg-disabled;
  color: $primary-text-disabled;
  border-color: $secondary-light;
}

.btn-sm {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  min-height: 2rem;
  padding: 0.125rem 0.3rem;
  border: 1 solid black;
  border-radius: 0.2rem;
  color: white;
  font-size: small;
}

.btn-cancel {
  background-color: $danger-bg;
}

.btn-go {
  background-color: $success-bg;
}

.btn-go:disabled {
  background-color: $success-bg-disabled;
  color: $success-text-disabled;
}

.btn-primary {
  background-color: $primary-bg;
}

.btn-primary:disabled {
  background-color: $primary-bg-disabled;
  color: $primary-text-disabled;
}

.btn-warning {
  background-color: $warning;
}

.btn-warning:disabled {
  background-color: $warning-bg-disabled;
  color: $warning-text-disabled;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  display: none;
  overflow-x: hidden;
  overflow-y: auto;
}
.modal-dialog {
  position: relative;
  width: auto;
  max-width: $maxPopupWidth-lg;
  margin: 1rem auto;
  pointer-events: none; // prevent cursor change on hover
  display: flex;
  justify-content: center;
}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: max-content;
  height: max-content;
  padding: 2rem;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  outline: 0;
  box-shadow: 2px 2px 2px 1px $shadow;
}

.modal-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid #e9ecef;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
}
.modal-title {
  margin-bottom: 0;
  // line-height: 1;
  font-size: 1.5rem;
}
.modal-body {
  position: relative;
  flex: 1 1 auto; // flex-grow | flex shrink |flex basis
  padding: 1rem;
}

.modal-open {
  overflow: hidden;
}

.modal-backdrop.show {
  opacity: 0.5;
}
.modal-backdrop.fade {
  opacity: 0.5;
}
.fade.show {
  opacity: 0.5;
}
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100vw;
  height: 100vh;
  background-color: #000;
}

.profile-img {
  object-fit: scale-down;
  height: 2rem;
  margin-inline: 0.5rem;
}

.text-center {
  text-align: center !important;
}

.bold {
  font-weight: bold;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;

  &-max {
    max-height: 100%;
  }
}

.mr-2 {
  margin-right: 0.5rem;
}

.pointer {
  cursor: pointer;
}

.spaced {
  display: flex;
  justify-content: space-around;
}

@media only screen and (max-width: 500px) {
  // ------ MODAL ------
  .modal-content {
    padding: 1rem;
  }
  .modal-body {
    padding: 0.5rem;
  }
  .modal-header {
    padding: 0.5rem;
  }
}
//#region ========= Media: LARGE =========
@media only screen and (min-width: 500px) {
  .actions {
    flex-flow: row nowrap;
    justify-content: space-around;
  }
  .actions hr {
    display: none;
  }
  .actions button {
    width: 45%;
  }
}
//#endregion Media: LARGE
