/* You can add global styles to this file, and also import other style files */
$danger: #8f3432;
$danger-light: #cf7977; // new york pink
$warning: #a7d49b; // Granny smith apple
$action: #42553a; // rifle green
$bg-white: #f2f9f1; // mint creme
$primary: hsl(106, 51%, 15%); // forest green traditional
$primary-btn: #3b7b28; // sap green
$primary-dark: #0f1f0a; // Phthalo Green
$neutral: #fec0aa; // melon
$neutral-light: #fff0eb; // seashell
$success: #92ac86;
$shadow: #999;

$maxScreenWidth: 768px;
$maxPopupWidth-lg: 700px;
$maxPopupWidth-sm: 400px;

// item-type
$ownerHeight: 4rem;
$typeHeight: 3rem;
$buttonHeight: 4rem;
$panel-padding-vert: 0.5rem;
$panel-padding-side: 1rem;

//debug
.bord-1 {
  border: 2px solid blue;
}

// $minBarHeight: 2rem;
// $maxBarHeight: 6vh;
// $barHeight: calc(max(#{$minBarHeight}, #{$maxBarHeight}));
$barHeight: 2rem;
$padding: 0.5rem;
$padding-fc: calc(#{$padding / 2});

.form-control {
  border: 1px solid $primary-dark;
  border-radius: 0.1rem;
  width: 100%;
  padding: $padding-fc calc(#{$padding-fc} * 2);
  background-color: $bg-white;
  margin: 0.2rem 0.3rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}

button {
  min-height: 3rem;
  border-radius: 0.5rem;
  font-size: 2rem;
  padding-inline: 5%;
  margin: 0.2rem;
  font-weight: bold;
}

.card {
  width: calc(100% - (2 * (1rem + 0.5rem)));
  box-shadow: 2px 2px 2px 1px $shadow;
  margin: 1rem;
  padding: 0.5rem;
  background-color: white;
}

.container {
  width: 100%;
  max-width: calc(100% - (2 * #{$panel-padding-side}));
  padding: $panel-padding-vert $panel-padding-side;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}
